<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Review - Recommender Destination in Bali</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <link href="https://storage.googleapis.com/gambara/balimate%20logo.png" rel="icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../../style/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <a class="mt-3" href="/">
            <h1 class="text-warning"><span class="text-dark">BALI</span>MATE</h1>
        </a>
    </div>

    <!-- Start Content -->
    <div class="container">
        <div class="p-5">
            <h2 class="mb-4">Tell us, how was your visit?</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-4 mb-5">
                        <!-- Left Content -->
                        <div class="card w-70">
                            <img id="thumbnail" class="p-3 img-fluid" width="500" alt="">
                            <h2 id="place-name" class="ml-4 mb-4"></h2>
                            <h6 id="address" class="w-75 text-muted ml-4 fw-light mb-5" style="line-height: 1.4rem;">
                            </h6>
                        </div>
                    </div>

                    <div class="col-md-6 mt-4">
                        <!-- Right Content -->
                        <h4>How would you rate your experience?</h4>

                        <div class="error-message"></div>

                        <form action="../review/<%= placeid %>" method="POST" id="form">
                            <div style="margin-left: -330px;" class="rating">
                                <input type="radio" id="star5" name="rating" value="5" checked>
                                <label for="star5"></label>
                                <input type="radio" id="star4" name="rating" value="4">
                                <label for="star4"></label>
                                <input type="radio" id="star3" name="rating" value="3">
                                <label for="star3"></label>
                                <input type="radio" id="star2" name="rating" value="2">
                                <label for="star2"></label>
                                <input type="radio" id="star1" name="rating" value="1">
                                <label for="star1"></label>
                            </div>

                            <div class="form-group mt-4">
                                <h5 for="review">Write your review</h5>
                                <p class="fw-light">Optional</p>
                                <textarea type="text" name="review" id="review" class="form-control"
                                    placeholder="Tell us about your experience ....."></textarea>
                            </div>

                            <div class="form-group mt-4">
                                <h5 for="photo">Add some photos</h5>
                                <p class="fw-light">Optional (1 photo only)</p>
                                <div class="d-flex">
                                    <input type="file" name="photo" id="photo" class="form-control">
                                    <button id="delete" class="btn btn-danger">Delete</button>
                                </div>
                            </div>

                            <input type="url" name="photoUrl" id="photo-url" hidden>

                            <div id="status" class="text-success"></div>

                            <button type="submit" class="btn btn-warning rounded mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-warning"><span class="text-white">BALI</span>MATE</h1>
                </a>
                <p>Just tell us where you are going on vacation in Bali, we will provide the best
                    recommendations.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white-50 mb-2" href="/#top-destinations"><i class="fa fa-angle-right mr-2"></i>Top
                        Destinations</a>
                    <a class="text-white-50 mb-2" href="/#recommendations"><i
                            class="fa fa-angle-right mr-2"></i>Recommendations</a>
                    <a class="text-white-50 mb-2" href="../favorites"><i
                            class="fa fa-angle-right mr-2"></i>Favorites</a>
                    <a class="text-white-50 mb-2" href="/#contact"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Bali, Indonesia</p>
                <p><i class="fa fa-envelope mr-2"></i>balimate-support@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
        style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">BALIMATE 2023
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-warning btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        function toggleSelection(option) {
            const selectedCard = document.getElementById(option);
            selectedCard.classList.toggle('selected');

            const selectedOptions = Array.from(document.querySelectorAll('.card.selected'))
                .map(card => card.id);

            document.getElementById('selectedOptions').value = selectedOptions.join(',');
        }
    </script>



    <!-- Get Destination Info -->
    <script>
        const path = window.location.pathname
        const parts = path.split('/')
        const userid = parts[2]
        const placeid = parts[4]

        fetch(`https://api-dot-balimate-dev.et.r.appspot.com/destinations/${placeid}`)
            .then(function (response) {
                return response.json();
            })
            .then(function (resp) {
                if (resp.code === 'success') {
                    var thumbnail = document.getElementById('thumbnail');
                    var placeName = document.getElementById('place-name');
                    var address = document.getElementById('address');

                    thumbnail.src = resp.data.thumbnail_url;
                    placeName.innerText = resp.data.place_name;
                    address.innerText = resp.data.alamat;
                } else {
                    console.log(resp)
                }
            })
            .catch(err => {
                console.log(err)
            })
    </script>


    <!-- Upload Image -->
    <script>

        const fileInput = document.getElementById('photo');
        const deleteBtn = document.getElementById('delete');
        const status = document.getElementById('status');
        const form = document.getElementById('form')
        const photoUrl = document.getElementById('photo-url');
        let file;

        fileInput.addEventListener('input', () => {
            file = fileInput.files[0]
        })

        deleteBtn.addEventListener('click', (event) => {
            event.preventDefault()
            fileInput.value = ''
        })

        form.addEventListener('submit', (event) => {
            event.preventDefault()

            if (fileInput.value === '') {
                form.submit()
            }
            else {
                // set status to uploading
                const fileReader = new FileReader();

                fileReader.readAsArrayBuffer(file);
                status.innerHTML = 'Upload 0%';


                const arr = file.name.split('.')
                const fileExtension = arr[arr.length - 1]
                const fileName = `${placeid}_${userid}.${fileExtension}`

                fileReader.onload = async (event) => {

                    const content = event.target.result
                    const CHUNK_SIZE = 10000 // bytes
                    var totalChunks = content.byteLength / CHUNK_SIZE
                    totalChunks = Math.ceil(totalChunks)

                    for (let i = 0; i < totalChunks + 1; i++) {
                        try {
                            let CHUNK = content.slice(i * CHUNK_SIZE, (i + 1) * CHUNK_SIZE)

                            await fetch('/upload?fileName=' + fileName, {
                                'method': 'POST',
                                'headers': {
                                    'content-type': "application/octet-stream",
                                    'content-length': CHUNK.length,
                                    'X-Chunk-Index': i,
                                    'X-Total-Chunks': totalChunks
                                },
                                'body': CHUNK
                            })

                            status.innerHTML = 'Upload ' + String(Math.floor(((i + 1) / totalChunks) * 100)) + '%'
                        }
                        catch (err) {
                            console.log(err)
                        }
                    }

                    status.innerHTML = 'File uploaded!'
                    photoUrl.value = `https://storage.googleapis.com/gambara/Balimate/${fileName}`

                    form.submit()
                }
            }
        });

    </script>

</body>

</html>